.cm-editor.cm-focused {
  outline: none;
}

.grammarSuggestion {
  background-color: green;
}

.grammarSuggestion .removalSuggestion {
  background-color: red;
}

.grammar-suggest-tooltip {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  background: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grammar-suggest-tooltip-apply {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.grammar-suggest-tooltip-apply:hover {
  background-color: #e6e6e6;
}

.grammar-suggest-tooltip-discard-content {
  height: 1.5rem;
  width: 2rem;
}

.grammar-suggest-tooltip-discard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border-radius: 50%;
}

.grammar-suggest-tooltip-discard > path {
  fill: grey;
}

.grammar-suggest-tooltip-discard:hover > path {
  fill: black;
}

.grammar-suggest-tooltip-discard:hover {
  background: #e6e6e6;
}
